<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head::head"></head>
<body>
<h2>Add product</h2>
<div th:replace="fragments/navigation::navbar"></div>
<section>
    <form action="#" th:action="@{/product-form-process}" th:object="${product}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}" />
        <textarea th:field="*{description}"></textarea>
        <input type="file" th:field="*{image}" />
        <input type="submit"/>
    </form>
</section>
</body>
</html>